List:
- List accept duplicate element
- List has an insertion order
- List is mutable.
- [] - should be used to store values

In [2]:
nums =[2,7,4,2,7,3,9,4]
nums

[2, 7, 4, 2, 7, 3, 9, 4]

In [3]:
nums[0]

2

In [4]:
nums[5]

3

In [5]:
nums[-1]

4

In [6]:
nums[:]

[2, 7, 4, 2, 7, 3, 9, 4]

In [7]:
nums[2:]

[4, 2, 7, 3, 9, 4]

In [8]:
nums[:2]

[2, 7]

In [10]:
nums2 = ['Sarun',25,8.2]
nums2

['Sarun', 25, 8.2]

In [11]:
nums2[0]

'Sarun'

In [12]:
nums2[-1]

8.2

In [14]:
for i in nums:
    print(i)

Sarun
25
8.2

In [15]:
name=['Vikram','Sarun','Duce']
nums = [3.4,2,6,2]
name+nums

['Vikram', 'Sarun', 'Duce', 3.4, 2, 6, 2]

In [20]:
singer = ['zayn','harry','louis','lime']
singer

['zayn', 'harry', 'louis', 'lime']

In [22]:
singer.append('aron')
singer

['zayn', 'harry', 'louis', 'lime', 'aron', 'aron']

In [23]:
singer.insert(1,'Duce')
singer

['zayn', 'Duce', 'harry', 'louis', 'lime', 'aron', 'aron']

In [24]:
singer.remove('lime')
singer

['zayn', 'Duce', 'harry', 'louis', 'aron', 'aron']

In [25]:
singer.pop(4)
singer

['zayn', 'Duce', 'harry', 'louis', 'aron']

In [26]:
singer.pop()
singer

['zayn', 'Duce', 'harry', 'louis']

In [28]:
del singer[2:]
singer

['zayn', 'Duce']

In [30]:
singer.extend('jack')
singer

['zayn', 'Duce', 'j', 'a', 'c', 'k']