Datatypes:
- none,Numeric,List,Tuple,Set,String,Range,Dictionary
None simailar to null
Numeric - int,float,complex,bool

In [4]:
num = 2.5
type(num)

float

In [5]:
num = 4
type(num)

int

In [6]:
num = 6+9j
type(num)

complex

In [7]:
a=5.2
b = int(a)
type(b)

int

In [8]:
a=7
b= float(a)
type(b)

float

In [9]:
k=6
c = complex(b,k)
type(c)

complex

Boolean:

In [12]:
b = 5
k = 6
b<k

True

In [13]:
b>k

False

In [14]:
int(True)

1

In [15]:
int(False)

0

List:

In [16]:
l = [2,5,5,3,6,9,3]
type(l)

list

In [17]:
t = (3,4,2,5,6,4)
type(t)

tuple

In [18]:
s = {3,6,5,3,6,9,1}
type(s)

set

In [19]:
d ={'name':'[sarun,vikram]','age':25,'address':'ooty'}
d

{'name': '[sarun,vikram]', 'age': 25, 'address': 'ooty'}

In [20]:
type(d)

dict

In [21]:
range(10)

range(0, 10)

Converting Range into list:

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(5,30,4))

[5, 9, 13, 17, 21, 25, 29]

Dictionary:

In [27]:
d.keys()

dict_keys(['name', 'age', 'address'])

In [28]:
d.values()

dict_values(['[sarun,vikram]', 25, 'ooty'])

In [29]:
d.get('name')

'[sarun,vikram]'