While loop

In [2]:
i = int(input("Enter the Number : "))
while i<=10:
    print(i)
    i+=1

Enter the Number : 5
5
6
7
8
9
10

In [4]:
i = int(input("Enter the Number : "))
while i>=10:
    print(i)
    i-=1

Enter the Number : 15
15
14
13
12
11
10

Nested While

In [7]:
i = int(input("Enter the Number : "))
while i<=5:
    print("Sarun",end="")
    j=1
    while j<=4:
        print("Vikram",end="")
        j+=1
    i+=1
    print("Super")

Enter the Number : 3
SarunVikramVikramVikramVikramSuper
SarunVikramVikramVikramVikramSuper
SarunVikramVikramVikramVikramSuper

For Loop:

In [8]:
x= ['Sarun',25,'Ooty','Engineer']
for i in x:
    print(i)

Sarun
25
Ooty
Engineer

In [9]:
x = 'SARUN'
for i in x:
    print(i)

S
A
R
U
N

In [11]:
len(x)

5

In [12]:
for i in ['Sarun',25,'Ooty']:
    print(i)

Sarun
25
Ooty

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [16]:
for i in range(10,15,3):
    print(i)

10
13

In [18]:
for i in range(15,10,-2):
    print(i)

15
13
11

In [21]:
for i in range(1,15):
    if i % 2 !=0:
        print(i)

1
3
5
7
9
11
13

In [23]:
for i in range(1,30):
    if i % 5 == 0:
        print(i)

5
10
15
20
25